.btn-outline-color1 {
    color: #c39653;
    border-color: #c39653;
}
.btn-outline-color1:hover {
    color: #fff;
    background-color: #c39653;
    border-color: #c39653;
}
.btn-outline-color2 {
    color: #ffb8d0;
    border-color: #ffb8d0;
}
.btn-outline-color2:hover {
    color: #fff;
    background-color: #ffb8d0;
    border-color: #ffb8d0;
}
.btn-outline-color3 {
    color: #8bb8ff;
    border-color: #8bb8ff;
}
.btn-outline-color3:hover {
    color: #fff;
    background-color: #8bb8ff;
    border-color: #8bb8ff;
}
/*.jumbotron{*/
/*    background:*/
/*            linear-gradient(*/
/*                    rgba(255, 214, 253, 0.9),*/
/*                    rgba(221, 234, 141, 0.6)*/
/*            );*/
/*    color:white !important;*/
/*    height:100vh;*/
/*}*/
.jumbotron{
    background:
            linear-gradient(
                    rgb(245, 106, 152),
                    rgb(200, 111, 87)
                    /*rgb(198, 63, 115),*/
                    /*rgb(65, 29, 16)*/
            );
    color:white !important;
    height:100vh;
}
.btn-img {
    height: 350px;
    width: 350px;
}
.canvas {
    text-align: center;
}
body {
    background: rgba(255, 204, 204, 0.4);
    /*background: url("../src/bg2.jpg") no-repeat center / cover;*/
    /*background: url("https://images.pexels.com/photos/4041268/pexels-photo-4041268.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat center / cover;*/
    /*background: url("https://image.freepik.com/free-vector/pink-soft-watercolor-abstract-texture_3590-109.jpg") no-repeat center / cover;*/
    /*background: url("https://img.freepik.com/free-vector/soft-pink-abstract-watercolor-background_3590-176.jpg?size=626&ext=jpg") no-repeat center / cover;*/

}
nav {
    /*background: transparent !important;*/
    background: url("../src/bg2.jpg") center top;

}
footer {
    background: url("../src/bg2.jpg") center bottom;
}
footer2 {
    background: url("../src/bg2.jpg") center bottom;
    position: absolute;
    width: 100%;
    bottom: -165px;
    left: 0;
}
.footer-text{
    color:white !important;
    text-align: center;
}